{% extends 'adminLayout.html' %}

{% block main %}
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">文章编辑</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <div class="card-body">
        <div class="form-group">
            <label for="exampleInputEmail1">文章标题</label>
            <input type="text" class="form-control" placeholder="请输入文章标题" value="{{title}}">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">作者</label>
            <input type="text" class="form-control" placeholder="请输入作者名称" value="{{author}}">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">时间</label>
            <input type="text" class="form-control" placeholder="请输入时间" value="{{time}}">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">文章简介</label>
            <input type="text" class="form-control" placeholder="请输入文章简介" value="{{intro}}">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">海报图</label>
            <input type="text" class="form-control" placeholder="请输入海报图" value="{{imgurl}}">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">文章详情</label>
            <input type="text" class="form-control" placeholder="请输入文章详情" value="我是加载数据{{content}}">
        </div>
        
    </div>
    <!-- /.card-body -->

    <div class="card-footer">
        <button type="button" class="btn btn-primary" data-id="{{_id.toString()}}">确认修改</button>
    </div>
</div>
<script>
    $('.btn-primary').click(function(){
        $.ajax({
            url:'/admin/update',
            method:'post',
            data:{
                'title':$('.card-body input').eq(0).val(),
                'author':$('.card-body input').eq(1).val(),
                'time':$('.card-body input').eq(2).val(),
                'intro':$('.card-body input').eq(3).val(),
                'imgurl':$('.card-body input').eq(4).val(),
                'content':$('.card-body input').eq(5).val(),
                'id':'{{_id.toString()}}'
            },
            success:(res)=>{
                console.log(res)
                if(res.code==1){
                    alert('修改成功')
                }
            }
        })
    })
</script>
{% endblock %}