{% extends 'adminLayout.html' %}

{% block main %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">文章发布</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <div class="card-body">
        <div class="form-group">
            <label for="exampleInputEmail1">文章标题</label>
            <input type="text" class="form-control" placeholder="请输入文章标题" value="2019年的20个小目标">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">作者</label>
            <input type="text" class="form-control" placeholder="请输入作者名称" value="爱佛僧">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">时间</label>
            <input type="text" class="form-control" placeholder="请输入时间" value="2019-12-04">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">文章简介</label>
            <input type="text" class="form-control" placeholder="请输入文章简介" value="有一个亿的小目标">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">海报图</label>
            <form class="img-form">
                <input type="file" class="form-control img-upload" name="myImg">
                <img class="img-preview" src="" alt="" style="height: 100px;width: 100px;">
            </form>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">文章详情</label>
            <div class="mb-3">
                <textarea class="textarea" placeholder="Place some text here"
                    style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
            </div>
        </div>

    </div>
    <!-- /.card-body -->

    <div class="card-footer">
        <button type="button" class="btn btn-primary">Submit</button>
    </div>
</div>
<script>
    $(function () {
        // Summernote
        $('.textarea').summernote()
    })
    let imgurl='';
    $('.img-upload').change(function () {
        $.ajax({
            url: '/admin/upload',
            method: 'post',
            data: new FormData(document.querySelector('form')),
            processData: false,
            contentType: false,
            cache: false,
            success: function (res) {
                if (res.code == 1) {
                    imgurl = res.data;
                    let url = `http://localhost:3001/${res.data}`
                    $('.img-preview').attr('src', url)
                }
            }
        })
    })


    $('.btn-primary').click(function () { //文章发布按钮
        console.log($('.card-body textarea').eq(0).val())
        $.ajax({
            url: '/admin/pub',
            method: 'post',
            data: {
                'title': $('.card-body input').eq(0).val(),
                'author': $('.card-body input').eq(1).val(),
                'time': $('.card-body input').eq(2).val(),
                'intro': $('.card-body input').eq(3).val(),
                'imgurl': imgurl,
                'content': $('.card-body textarea').eq(0).val()
            },
            success: (res) => {
                console.log(res)
                if (res.code == 1) {
                    alert('发布成功')
                }
            }
        })
    })
</script>
{% endblock %}